name,country,city,address,lat,lng,categories,organizations,description
The Ukrainian House,,Warszawa,"ul. Zamenhofa 1, 00-153",52.24734033,20.9964833,General,Fundacja “Nasz Wybór”,Crisis support center
The Association for Legal Intervention,,Warszawa,ul. Siedmiogrodzka 5/51,52.23156761,20.97296521,Attorney at law,Stowarzyszenie Interwencji Prawnej,Free legal assistance
